VITE_FLUENT_APP_NAME=Fluent Paymaster Transfer
VITE_FLUENT_CLIENT_ID=demo_app
VITE_FLUENT_AUTHORIZE_URL=https://connect.fluent.xyz/authorize
VITE_FLUENT_FAUCET_ENDPOINT=https://eco-faucet-api.fluent.xyz/fluent-connect/pre-fund
VITE_ZERODEV_PROJECT_ID=893acc63-da39-4b57-8789-5784ed7f1969
